h1 {
  text-align: center;
  margin: 20px, auto;
}
ul {
  font-size: 15px;
  color: rgb(119, 111, 111);
  padding-bottom: 20px;
}

li {
  list-style: none;
}

h4 {
  color: rgb(251, 128, 88);
  font-size: 15px;
  margin: auto;
}

h5 {
  color: rgb(95, 82, 82);
  font-size: 15px;
}

#temperature {
  position: relative;
  margin: auto;

  color: rgb(253, 124, 85);
  font-size: 45px;
}

.container {
  padding: 30px 40px;
  width: 820px;
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
}

.card {
  background-color: rgb(253, 244, 240);
}

.todayTemp {
  border-radius: 40px;
  margin: auto;
}

.units {
  font-size: 15px;
  position: relative;
  top: -28px;
}

.future-forcast {
  font-size: 14px;
}

#searchForm {
  text-align: center;
  margin-top: 10px;
}

#city {
  font-size: 40px;
  text-align: center;
  color: rgb(254, 140, 102);
}

#temperature-description {
  text-transform: capitalize;
}

#celsius {
  text-decoration: none;
}

#fahrenheit {
  text-decoration: none;
}

#madeBy {
  color: rgb(139, 139, 139);
  margin-left: 20px;
}
